.form-control {
   width: 60%; 
   margin-top: 2%;
   margin-left: 10%;
   background-color: saddlebrown;
}

.btn-submit{
    margin-top: 2%;
}
.form-inline{
    display: flex;
    margin: 4%;
}
.list-group-item, .card{
 background: blue;
}
.card-img-top{
    width:60%;
}

.btn-success{
    float:right;
}